{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-12">
            {% embed "admin_action/tabs.html.twig" %}{% endembed %}
            <div class="row">
                <div class="cell padded rw-3 rw-sm-12">
                    {{ 'Derzeitiges Leben'|trans({}, 'admin') }}
                </div>
                <div class="cell padded rw-5 rw-sm-12">
                    <input disabled value="{% if active %}{{ town.name }}{% if not alive %}{{ " -- " }}{{ 'TOD NICHT BESTÄTIGT'|trans({}, 'admin') }}{% endif %}{% else %}{{ "--" }}{% endif %}" />
                </div>
                {% if active %}
                    {% if alive %}
                    <div class="cell padded ro-3 rw-2 rw-sm-12">
                        <button id="x-headshot">{{ 'Kopfschuss'|trans({}, 'admin') }}</button>
                    </div>
                    {% else %}
                    <div class="cell padded ro-3 rw-2 rw-sm-12">
                        <button id="x-confirm-death">{{ 'Tod bestätigen'|trans({}, 'admin') }}</button>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% embed "admin_action/footer.html.twig" %}{% endembed %}
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% if active %}
            {% if alive %}
            document.getElementById('x-headshot').addEventListener('click', function(e) {
                e.preventDefault();
                if (confirm('{{ 'Das Leben dieses Bürgers sofort beenden?'|trans({},'admin') }}'))
                    $.ajax.easySend( '{{ path('admin_users_citizen_headshot', { 'id': user.Id }) }}', [],
                        function () {
                            $.ajax.load(null, '{{ path('admin_users_citizen_view', { 'id': user.Id }) }}', true);
                        } )
            });
            {% else %}
            document.getElementById('x-confirm-death').addEventListener('click', function(e) {
                e.preventDefault();
                if (confirm('{{ 'Tod dieses Bürgers zwangsweise bestätigen?'|trans({},'admin') }}'))
                    $.ajax.easySend( '{{ path('admin_users_citizen_confirm_death', { 'id': user.Id }) }}', [],
                        function () {
                            $.ajax.load(null, '{{ path('admin_users_citizen_view', { 'id': user.Id }) }}', true);
                        } )
            });
            {% endif %}
        {% endif %}
    </script>
{% endblock %}