@import (once) "../theme";

@myhordes-building-row-color: #663024;
@myhordes-building-complete-row-color: #3b3249;

@myhordes-building-header-color: #b37c4a;
@myhordes-building-complete-header-color: #696486;

.b-table() {
  &:nth-child(2n+0) {background: darken(@myhordes-building-row-color,5%); &>.cell { background: darken(@myhordes-building-row-color,5%); }}
  &:nth-child(2n+1) {background: @myhordes-building-row-color; &>.cell { background: @myhordes-building-row-color; }}
}

div.buildings {
  padding: 0; font-size: 1.2rem; margin: 32px 0; border: 1px solid @myhordes-smalltext;

  .lv_list(@max,@n:1) when (@n <= @max) {
    &.lv-@{n} > div.cell:first-child { padding-left: 16px * @n; }
    .lv_list(@max,@n+1)
  }
  .lv_list(@max,@n:1) when (@n > @max) {}

  .build-btn {
    padding: 2px 8px;
  }

  &>.row {
    .b-table();
    &.root > div.cell:first-child>span { font-weight: bold }
    overflow: hidden;

    &> div.cell {
      position: relative; z-index: 2;
      &>* { position: relative; z-index: 2; }
      &:first-child {
        &:before { position: absolute; left: 0; top: -200%; height: 500%; width: 100%; content: " "; background: @myhordes-building-header-color; z-index: 1;  }
      }
    }

    &.complete {
      background: @myhordes-building-complete-row-color; &>.cell { background: @myhordes-building-complete-row-color; }
      &> div.cell:first-child:before { background: @myhordes-building-complete-header-color; }
    }

    &.locked { opacity: 0.5}
    .lv_list(6);
  }

  .ap-bar {
    position: absolute; top: 0; left: 0; right: 0; height: 6px; background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
    border-radius: 2px; overflow: hidden;
    &>.bar { background: linear-gradient(180deg, #fffb58 0%, #f2c94d 100%); height: 100% }
  }

  .build-req {
    img { vertical-align: middle; }
    display: inline-block; padding: 0 3px; font-weight: bold; font-size: 1.4rem;
    &+.build-req { border-left: 1px dotted @myhordes-smalltext; }
    &>span.resource {
      &.current {
        font-size: 1.2rem; font-weight: normal;
        &.low { color: #d04d3f;  }
        &:not(.low) { color: @myhordes-smalltext; }
      }
    }
  }

  padding-top: 25px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.type_small_building:before {
    background-image: url('../../img/building/construction/building_fondations.png');
  }
  &.type_small_spa4souls:before {
    background-image: url('../../img/building/construction/building_spa4souls.png');
  }
  &.type_small_door_closed:before {
    background-image: url('../../img/building/construction/building_doorLock.png');
  }
  &.type_item_tagger:before {
    background-image: url('../../img/building/construction/building_tower.png');
  }
  &.type_small_water:before {
    background-image: url('../../img/building/construction/building_pump.png');
  }
  &.type_small_wallimprove:before {
    background-image: url('../../img/building/construction/building_wall1.png');
  }
  &.type_small_refine:before {
    background-image: url('../../img/building/construction/building_command.png');
  }
  &.type_item_meat:before {
    background-image: url('../../img/building/construction/building_meat.png');
  }
}

div.town-upgrades {
  padding: 0; margin: 32px 0; border: 1px solid @myhordes-smalltext;

  &>.row {
    .b-table();
    font-size: 1.2rem;
    strong { font-size: 1.5rem; font-variant: small-caps }
    b { color: @myhordes-smalltext; }

    &.complete {
      background: @myhordes-building-complete-row-color; &>.cell { background: @myhordes-building-complete-row-color; }
      &> div.cell:first-child:before { background: @myhordes-building-complete-header-color; }
    }
  }
}