@import (once) "../theme";

.forum-preview {
  font-weight: bold; font-size: 1.1em; padding: 10px; border-radius: 10px; margin: 10px;
  background: url("../../img/forum.png") top center repeat-x; cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); background-position-y: -2px; border: 2px solid #7e4d2b;
  transition: border-color 0.5s ease-in-out, box-shadow 0.25s ease-in-out;

  &:not(.forum-preview-town) {
    background: #7e4d2b url("../../img/forum.png") top center repeat-x; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #7e4d2b 65%, #a73a1f 80%), url("../../img/forum.png") top center repeat-x; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #7e4d2b 65%,#a73a1f 80%), url("../../img/forum.png") top center repeat-x; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #7e4d2b 65%,#a73a1f 80%), url("../../img/forum.png") top center repeat-x; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e4d2b', endColorstr='#a73a1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    &::after {
      content: '';
      background: transparent url('../../img/globe.png') 50% / contain no-repeat;
      line-height: 26px;
      width: 26px;
      height: 26px;
      margin-right: 1em;
      float: right;
    }
  }
  &:hover { border-color: @myhordes-smalltext; box-shadow: 0 0 10px rgba(0,0,0,0.8); }
}

@myhordes-forum-button-color:  #a2321a;
@myhordes-forum-button-border: #c33720;
@myhordes-forum-moderator-button-color:  #a2321a;
@myhordes-forum-moderator-button-border: #c33720;
@myhordes-forum-disabled-button-color:  grey;
@myhordes-forum-disabled-button-border: grey;

.forum-control {
  &>b:first-child { display: block; background: #321914; padding: 4px; }
  font-size: 1.1rem;
  background: #3c2018; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
}

.forum-note {
  &>b:first-child { display: block; background: #804d2f; padding: 4px; }
  font-size: 1.1rem; background: #8a5432; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
  border: 1px solid #704328;
}

.forum-post {
  &:before, &:after { content: " "; clear: both; display: table; }
  background-color: #4a261e; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0;
  border: 1px solid #704328; margin-bottom: 10px;

  &>.forum-post-header,
  &>.forum-post-header-crow,
  &>.forum-post-header-dev {
    display: block;
    padding: 4px;
    min-height: 40px;
    &>b { padding: 5px; }
    &>i { float: right; font-size: 0.8em; }
    &>div.post-note { font-size: 0.8em; span { opacity: 0.5; } }
    &>.avatar { margin: 0 5px 0 10px; float: left }
    &:before, &:after {content: " "; clear: right;}
    &:before { display: table;}
    &:after {display: block; height: 0;}
  }

  &>.forum-post-header {
    background: #804d2f;
  }

  &>.forum-post-header-crow {
    background: #773939;
  }

  &>.forum-post-header-dev {
    background: #006495;
    &>b { 
      img {
        position: absolute;
        padding: 2px 2px 0px 5px;
      }
    }
  }

  &.forum-post-hidden>.forum-post-header, &.forum-post-hidden>.forum-post-header-crow, &.forum-post-hidden>.forum-post-header-dev {
    background: #ff0000;
  }

  &>.forum-post-content {
    padding-left: 10px; padding-top: 10px; /*max-height: 750px; overflow: auto;*/
    background-color: #4a261e; padding-right: 4px; word-break: break-word;
  }

  &>.forum-post-content-marked {
    padding-left: 10px; padding-top: 10px; /*max-height: 750px; overflow: auto;*/
    background-color: #8b7700; padding-right: 4px; word-break: break-word;
    b, strong {
      color: #afb3cf;
      text-transform: initial;
    }
    i, em {
      color: #f0d79e;
    }
    strike, del {
      color: #cc3300;
    }

    img {
      max-height: 480px;
      max-width: 100%;
      height: auto !important;
      width: auto !important;
    }

    blockquote {
      font-style: italic;
      border-color: rgba(0,0,0,.6);
      border-style: dashed;
      border-width: 0 0 1px 1px;
      padding-left: 10px;
      font-size: .875em;
      opacity: .7;
    }

    .spoiler {
      background-image: linear-gradient(45deg, #0006 25%, #fff0 25%, #fff0 50%, #0006 50%, #0006 75%, #fff0 75%, #fff0 100%);
      background-size: 22.63px 22.63px;
    }
    .spoiler:hover {
      background-image: linear-gradient(45deg, #0003 25%, #fff0 25%, #fff0 50%, #0003 50%, #0003 75%, #fff0 75%, #fff0 100%);
    }
    .spoiler > * {
      visibility: hidden;
    }
    .spoiler:hover > * {
      visibility: visible;
    }

    .glory {
      margin: 30px 30px 15px;
      padding: 10px;
      background-color: #301a22;
      border: 1px solid #fe7d00;
      border-top-color: #feb500;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px #000, 0 0 2px #000;
      position: relative;

      p {
        margin: 0;
      }
    }
    .glory::before {
      content: '';
      display: block;
      background-image: url('../../img/gloryhordes.png');
      background-size: 100% 22px;
      background-position: 50% 0;
      background-repeat: no-repeat;
      position: absolute;
      top: -22px;
      left: 0;
      width: 100%;
      height: 22px;
    }
  }

  &>.forum-post-footer {
    padding: 5px;
    background-color: #4a261e;
    font-size: 1rem;
    font-style: italic;
    color: rgba(0,0,0,0.2);

    .action-button {
      padding-left: 2px;
      text-decoration: underline;
      cursor: pointer;
      line-height: 16px
    }

    .mod-submenu {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      line-height: 16px;
      vertical-align: middle;
      background-image: url('../../img/mod.png');
      margin-left: 1rem;
      cursor: pointer;

      input {
        display: none;
      }

      .mod-submenu-links {
        display: none;
        position: absolute;
        right: 0;
        bottom: 16px;
        border: 1px solid @myhordes-smalltext;
        background-color: #4a261e;
        margin: 0;
        padding: .5rem;
        outline: 1px solid black;
        list-style: none;

        li {
          list-style-type: none;

          a {
            color: @myhordes-smalltext;
          }
        }
      }

      input:checked + .mod-submenu-links {
        display: block;
      }
    }
  }

}

.forum-post-content, .sun-editor-editable, #forum-editor-preview {
  b, strong {
    color: #afb3cf;
    text-transform: initial;
  }
  i, em {
    color: #f0d79e;
  }
  strike, del {
    color: #cc3300;
  }

  img {
    max-height: 480px;
    max-width: 100%;
    height: auto !important;
    width: auto !important;
  }

  blockquote {
    font-style: italic;
    border-color: rgba(0,0,0,.6);
    border-style: dashed;
    border-width: 0 0 1px 1px;
    padding-left: 10px;
    font-size: .875em;
    opacity: .7;
  }

  .spoiler {
    background-image: linear-gradient(45deg, #0006 25%, #fff0 25%, #fff0 50%, #0006 50%, #0006 75%, #fff0 75%, #fff0 100%);
    background-size: 22.63px 22.63px;
  }
  .spoiler:not(:hover) {
    color: transparent;
  }
  .spoiler:hover {
    background-image: linear-gradient(45deg, #0003 25%, #fff0 25%, #fff0 50%, #0003 50%, #0003 75%, #fff0 75%, #fff0 100%);
  }
  .spoiler > * {
    visibility: hidden;
  }
  .spoiler:hover > * {
    visibility: visible;
  }

  .glory {
    margin: 30px 30px 15px;
    padding: 10px;
    background-color: #301a22;
    border: 1px solid #fe7d00;
    border-top-color: #feb500;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #000, 0 0 2px #000;
    position: relative;

    p {
      margin: 0;
    }
  }
  .glory::before {
    content: '';
    display: block;
    background-image: url('../../img/gloryhordes.png');
    background-size: 100% 22px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
  }

  div.dice-4, div.dice-6, div.dice-8, div.dice-10, div.dice-12, div.dice-20, div.dice-100,
  div.letter-a, div.letter-c, div.letter-v,
  div.rps, div.coin, div.card {
    display: inline-block; padding: 1px 3px 1px 19px; border-radius: 2px; background: #3B3249; font-size: 0.8em;
    font-weight: bold; margin: 0 2px;
  }
  div.dice-4   { background: url("../../img/forum/dice4.png")   left center no-repeat, #3B3249 }
  div.dice-6   { background: url("../../img/forum/dice6.png")   left center no-repeat, #3B3249 }
  div.dice-8   { background: url("../../img/forum/dice8.png")   left center no-repeat, #3B3249 }
  div.dice-10  { background: url("../../img/forum/dice10.png")  left center no-repeat, #3B3249 }
  div.dice-12  { background: url("../../img/forum/dice12.png")  left center no-repeat, #3B3249 }
  div.dice-20  { background: url("../../img/forum/dice20.png")  left center no-repeat, #3B3249 }
  div.dice-100 { background: url("../../img/forum/dice100.png") left center no-repeat, #3B3249 }
  div.letter-a { background: url("../../img/forum/lta.png")     left center no-repeat, #3B3249 }
  div.letter-c { background: url("../../img/forum/ltc.png")     left center no-repeat, #3B3249 }
  div.letter-v { background: url("../../img/forum/ltv.png")     left center no-repeat, #3B3249 }
  div.rps      { background: url("../../img/forum/rps.png")     left center no-repeat, #3B3249 }
  div.coin     { background: url("../../img/forum/coin.png")    left center no-repeat, #3B3249 }
  div.card     { background: url("../../img/forum/card.png")    left center no-repeat, #3B3249 }
}

.forum-editor {
  background: #8a5432; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
  border: 1px solid #704328; margin: 10px 0;

  &>.forum-editor-header {
    display: block; background: #804d2f; padding: 4px;
    &>b { padding: 5px; }
    &>i { float: right; font-size: 0.8em; }
  }

  #forum-editor-preview {
    min-height: 150px; border: 1px solid #704328; background: #49261e; padding: 5px 25px; overflow: auto; outline: 0 solid transparent;
  }
}

.forum-post >.forum-post-content, .forum-editor div[contentEditable="true"] {
  hr { border-color: @myhordes-smalltext }
}

.forum-button-bar { margin: 5px 0; padding: 0 5px; }

.forum-button, .banned-button, .forum-button-inline {
  font-size: 1.4rem;
  &:not(.forum-button-inline) {
    background: @myhordes-forum-moderator-button-color url('../../img/bg_button.gif') no-repeat;
    border: 1px solid @myhordes-forum-moderator-button-border;
    padding: 10px;
    border-radius: 2px;
  }

  &.forum-button-inline {
    background: none;
    border: 1px solid transparent;
    padding: 2px;
  }

  color: #f0d79e;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  vertical-align: middle;
  margin-bottom: .5em;

  &:hover {
    border-color: #f0d79e;
    &:not(.forum-button-inline) { box-shadow: 0 0 8px 0 black; }
    &.forum-button-inline {
      background: rgba(240, 215, 158, 0.4);
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    }
  }
}

.banned-button {
  background: @myhordes-forum-disabled-button-color url('../../img/bg_button_grey.gif') no-repeat;
  border: 1px solid @myhordes-forum-disabled-button-color; color: #f0d79e;
}

.forum-moderator-button, .forum-header-button, .forum-header-button-disabled, .forum-moderator-button,
.forum-button, .forum-button-disabled {
  font-size: 1.4rem; line-height: 16px;
  background: url('../../img/bg_button.gif') center / cover no-repeat;
  border: 1px solid @myhordes-forum-moderator-button-border;
  color: #f0d79e; font-weight: bold; cursor: pointer; display: inline-flex; justify-content: center;
  align-items: center; height: 25px; padding: 7px 20px; vertical-align: middle; border-radius: 2px;
  box-shadow: 1px 1px 1px 0 black; margin-bottom: .5em;
  &:hover { border-color: #f0d79e; box-shadow: 0 0 8px 0 black; }
  img {
    vertical-align: middle;

    & + span {
      margin-left: 1rem;
    }
  }
}

.forum-button-disabled, .forum-header-button-disabled {
  background: url('../../img/bg_button_grey.gif') center / cover no-repeat;
  border: 1px solid @myhordes-forum-disabled-button-color;
}

.forum-button-bar .forum-button { padding: 7px 7px; }

.forum-checkbox {
  display: inline-block; padding: 2px 5px; font-size: 1rem; background: @myhordes-forum-moderator-button-color;
  border: 1px solid @myhordes-forum-moderator-button-border;
  color: white; cursor: pointer;
}

.forum-checkbox label {

  font-size: 1rem;
}

#forum-content,
#forum-editor {

  div.forum-checkbox {
    padding: 3px 20px;
    margin-right: 2rem;
    vertical-align: middle;
    margin-bottom: .5em;
    background-color: #4a261e;
    border-color: #f0d79e;
    /*cursor: default;*/

    input.forum-checkbox {
      display: none;
    }
    span {
      line-height: 1.4rem;
      margin: 2px;
    }
    input.forum-checkbox + label {
      display: inline-block;
      width: 80px;
      cursor: pointer;
      padding: 0 4px;
      line-height: 1.4rem;
      color: #ccc;
      font-size: 1.1rem;
      text-align: center;
      border-radius: 2px;
      margin: 2px;
    }
    input.forum-checkbox:checked + label {
      color: #f0d79e;
      font-size: 1.2rem;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.forum-thread {
  padding: 5px; cursor: pointer; position: relative;
  &>div { float: right; font-size: 1.3em; }
  &:nth-child(2n) { background: rgba(0,0,0,0.05) }
  &.selected { background: rgba(255, 160, 57, 0.39) }
  img {
    vertical-align: middle;
    margin-right: 1em;
  }
  &.forum-thread-unread {
    padding-left: 18px;
    &:before {
      display: block; content: " "; width: 8px; height: 8px; border-radius: 4px; top: 9px; left: 5px;
      background: #ffbf00; border: 1px solid #212121; box-shadow: 0 0 3px rgba(0,0,0,0.1); position: absolute;
    }
  }
}