{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-12">
            <div class="row">  
                <div class="cell padded rw-3 rw-sm-12">              
                    <span>{{ "Forum" |trans({}, 'admin') }}</span>
                </div>
                <div class="cell padded rw-2 rw-sm-12">   
                    <span>{{ "Autor" |trans({}, 'admin') }}</span>
                </div>
                <div class="cell padded rw-2 rw-sm-12">
                    <span>{{ "Meldungen" |trans({}, 'admin') }}</span>
                </div>
                <div class="cell padded rw-4 rw-sm-12">
                    <span>{{ "gemeldet von" |trans({}, 'admin') }}</span>
                </div>
            </div>
            {% set posts = [] %}
            {% for report in reports %}
                {% if report.post.id not in posts %}
                    {% set posts = posts|merge([report.post.id]) %}
                    <div class="row">
                        <div class="cell padded rw-3 rw-sm-12">
                            <a href="#" x-ajax-href="{{ path('forum_viewer_jump_post_controller', {pid: report.post.id }) }}">{{ report.post.thread.forum.title }}</a>
                        </div>
                        <div class="cell padded rw-2 rw-sm-12">
                            <span>{{ report.post.owner.username }}</span>
                        </div>
                        <div class="cell padded rw-2 rw-sm-12">
                            <span>{{ report.post.adminReports.count }}</span>
                        </div>
                        <div class="cell padded rw-4 rw-sm-12">
                            {% for thisReport in report.post.adminReports %}
                                <span>{{ thisReport.sourceUser.username }}</span>
                            {% endfor %}
                        </div>
                        <div class="cell padded rw-1 rw-sm-12">
                            <button x-report-action="clear-reports" x-post-id={{ report.post.id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        let clear_buttons = document.querySelectorAll('[x-report-action=clear-reports]');
        for (let i = 0; i < clear_buttons.length; i++)
            clear_buttons[i].addEventListener('click', function() {
                $.ajax.easySend( '{{ path('admin_reports_clear') }}', {postId: parseInt( this.getAttribute('x-post-id'))},
                    function () {
                        $.ajax.load(null, '{{ path('admin_reports') }}', true);
                    } )
                })
    </script>
{% endblock %}