{{ constant('App\\Controller\\ForumController::ErrorForumNotFound') }}  : '{{'Das gewählte Forum existiert nicht oder dir fehlt die Zugangsberechtigung dafür.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\ForumController::ErrorPostTextLength') }} : '{{'Dein Text muss mindestens 10 Zeichen lang sein.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\ForumController::ErrorPostTitleLength') }}: '{{'Dein Titel muss zwischen 3 und 64 Zeichen lang sein.'|trans({},'global')|e('js')}}',