{{ constant('App\\Service\\GameFactory::ErrorTownClosed') }}               : '{{'Die gewählte Stadt ist bereits voll.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorUserAlreadyInGame') }}        : '{{'Du kannst nicht mehr als einer Stadt gleichzeitig beitreten.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorUserAlreadyInTown') }}        : '{{'Du bist dieser Stadt bereits beigetreten.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Controller\\GameController::ErrorJobAlreadySelected') }} : '{{'Du hast bereits einen Beruf gewählt.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\GameController::ErrorJobInvalid') }}         : '{{'Ungültige Auswahl.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellEmpty') }}          : '{{'Der Brunnen ist leer!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellLimitHit') }}       : '{{'Du kannst heute keine weiteren Rationen entnehmen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellNoWater') }}        : '{{'Hierfür brauchst du klares Wasser (keine Kanister)!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorDoorAlreadyClosed') }}  : '{{'Das Tor ist bereits geschlossen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorDoorAlreadyOpen') }}    : '{{'Das Tor ist bereits offen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorNotEnoughRes') }}       : '{{'Für dieses Gebäude fehlen Baumaterialien.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorAlreadyUpgraded') }}    : '{{'Du hast heute bereits eine Verbesserung deines Hauses vorgenommen.'|trans({},'game')|e('js')}}',