let heroics = document.querySelectorAll('.heroic_actions');
let heroics_hide = document.querySelectorAll('[x-heroic-toggle="0"]');
let heroics_show = document.querySelectorAll('[x-heroic-toggle="1"]');
let camping = document.querySelectorAll('.camping_actions');

if (heroics_show.length > 0) for (let i = 0; i < heroics.length; i++) heroics[i].style.display = 'none';
for (let i = 0; i < heroics_hide.length; i++) heroics_hide[i].addEventListener('click', function() {
    for (let j = 0; j < heroics.length; j++) heroics[j].style.display = 'none';
    for (let j = 0; j < heroics_hide.length; j++) heroics_hide[j].style.display = 'none';
    for (let j = 0; j < heroics_show.length; j++) heroics_show[j].style.display = null;
})
for (let i = 0; i < heroics_show.length; i++) heroics_show[i].addEventListener('click', function() {
    for (let j = 0; j < heroics.length; j++) heroics[j].style.display = null;
    for (let j = 0; j < heroics_hide.length; j++) heroics_hide[j].style.display = null;
    for (let j = 0; j < heroics_show.length; j++) heroics_show[j].style.display = 'none';
})

const handleSpecialActions = function( actions, api_path, return_path ) {
    for (let i = 0; i < actions.length; i++) {
        actions[i].addEventListener('click', function() {
            const target_id = this.getAttribute('x-target-id');
            const action_id = this.getAttribute('x-action-id');
            let obj = { action: action_id };
            if (target_id) obj.target = target_id;
            $.ajax.easySend( api_path, obj,
                function () {
                    $.ajax.load(null, return_path, true);
                }, {
                    '{{ constant('App\\Service\\ActionHandler::ErrorActionForbidden') }}': function(data) {
                        return data.message ? data.message : '{{ 'Das kannst du zur Zeit nicht tun.'|trans({},'game')|e('js') }}'
                    }
                } );
        });
    }
}

const handleHeroicActions = function( actions, api_path, return_path ) {
    for (let i = 0; i < actions.length; i++) {
        actions[i].addEventListener('click', function() {
            const target_id = this.getAttribute('x-target-id');
            const action_id = this.getAttribute('x-action-id');
            let obj = { action: action_id };
            if (target_id) obj.target = target_id;
            if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                return;
            $.ajax.easySend( api_path, obj,
                function () {
                    $.ajax.load(null, return_path, true);
                }, {
                    '{{ constant('App\\Service\\ActionHandler::ErrorActionForbidden') }}': function(data) {
                        return data.message ? data.message : '{{ 'Das kannst du zur Zeit nicht tun.'|trans({},'game')|e('js') }}'
                    }
                } );
        });
    }
}

const handleCampingActions = function( actions, api_path, return_path ) {
  for (let i = 0; i < actions.length; i++) {
    actions[i].addEventListener('click', function() {
      const action_id = this.getAttribute('x-action-id');
      let obj = { action: action_id };
      $.ajax.easySend( api_path, obj,
                       function () {
                         $.ajax.load(null, return_path, true);
                       }, {
                         '{{ constant('App\\Service\\ActionHandler::ErrorActionForbidden') }}': function(data) {
                           return data.message ? data.message : '{{ 'Das kannst du zur Zeit nicht tun.'|trans({},'game')|e('js') }}'
                         }
                       } );
    });
  }
}

const handleActions = function( actions, api_path, return_path ) {
    for (let i = 0; i < actions.length; i++) {
        actions[i].addEventListener('click', function() {
            const item_id   = this.getAttribute('x-provoking-id');
            const target_id = this.getAttribute('x-target-id');
            const action_id = this.getAttribute('x-action-id');
            const esc_c_id = this.getAttribute('x-citizen');
            const esc_m_id = this.getAttribute('x-escort-meta-action');
            let obj = (esc_c_id && esc_m_id)
                ? { item: item_id, action: action_id, citizen: esc_c_id, meta: esc_m_id }
                : { item: item_id, action: action_id };
            if (target_id) obj.target = target_id;
            $.ajax.easySend( api_path, obj,
                function () {
                    $.ajax.load(null, return_path, true);
                }, {
                    '{{ constant('App\\Service\\ActionHandler::ErrorActionForbidden') }}': function(data) {
                        return data.message ? data.message : '{{ 'Das kannst du zur Zeit nicht tun.'|trans({},'game')|e('js') }}'
                    }
                } );
        });
    }
}
const handleActionPopups = function( actions ) {
    for (let i = 0; i < actions.length; i++) {
        const id = actions[i].getAttribute( 'x-target-definition' );
        let popup = document.querySelector('[x-target-selection-for="' + id + '"]');
        popup.addEventListener('click', function(e) { e.stopPropagation(); });
        actions[i].addEventListener('click', function() {
            popup.style.display = 'block';
            actions[i].classList.add('open');
        })
        let close_btn = document.querySelector('[x-close-for="' + id + '"]');
        close_btn.addEventListener('click', function(e) {
            popup.style.display = "none";
            actions[i].classList.remove('open');
            e.stopPropagation();
        });
    }
}
const handleRecipes = function( recipes, api_path, return_path ) {
    for (let i = 0; i < recipes.length; i++) {
        recipes[i].addEventListener('click', function() {
            const recipe_id = this.getAttribute('x-recipe-id');
            $.ajax.easySend( api_path, {
                    id: recipe_id
                },
                function () {
                    $.ajax.load(null, return_path, true);
                }, {
                    '{{ constant('App\\Service\\ActionHandler::ErrorActionForbidden') }}': function(data) {
                        return data.message ? data.message : '{{ 'Das kannst du zur Zeit nicht tun.'|trans({},'game')|e('js') }}'
                    }
                } );
        });
    }
}