{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    {# @var citizen \App\Entity\Citizen #}

    <div class="row">
        <div class="cell ro-2 rw-8 ro-lg-1 rw-lg-10 ro-md-0 rw-md-12">
            <div class="death_header">
                <div>{{ 'Herzlichen Glückwunsch, du bist TOT!'|trans({},'game') }}</div>
                <div>{{ citizen.causeOfDeath.label|trans({},'game') }}</div>
            </div>
            <div class="death_footer">
                {{ 'Du hast %sp% Seelenpunkte gewonnen!'|trans({'%sp%':sp},'game') }}
            </div>

            <br />

            <div class="row">
                <div class="cell rw-6 rw-sm-12">
                    <img class="fit" alt="" src="{{ asset('build/images/death/' ~ citizen.causeOfDeath.icon ~ '.jpg') }}" />
                    <div class="small-note">{{ citizen.causeOfDeath.description|trans({},'game') }}</div>
                </div>
                <div class="cell rw-6 rw-sm-12">
                    <div class="death_list">
                        <b>{{ 'Du hast folgende Auszeichnungen verliehen bekommen:'|trans({},'game')  }}</b>
                        <ul>
                        {% for picto in pictos %}
                            <li {% if picto.prototype.rare %}class="rare"{% endif %}>
                                <div>
                                    <img src="{{  asset('build/images/pictos/' ~ picto.prototype.icon ~ '.gif') }}" />
                                </div>
                                {{picto.prototype.label|trans({}, 'game')}} <span class="count">+ {{picto.count}}</span>
                                <div class="tooltip">
                                    <h1>{{ picto.prototype.label|trans({}, 'game') }}</h1>
                                    {{ picto.prototype.description|trans({}, 'game')}}</em>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                        {% if denied_pictos|length > 0 %}
                            <b>{{ 'Wenn du eine zusätzliche Nacht geblieben wärst, hättest du auch die folgenden Preise gewinnen können:'|trans({},'game')  }}</b>
                            <ul>
                            {% for picto in denied_pictos %}
                                <li {% if picto.prototype.rare %}class="rare"{% endif %}>
                                    <div>
                                        <img src="{{  asset('build/images/pictos/' ~ picto.prototype.icon ~ '.gif') }}" />
                                    </div>
                                    {{picto.prototype.label|trans({}, 'game')}} <span class="count">+ {{picto.count}}</span>
                                    <div class="tooltip">
                                        <h1>{{ picto.prototype.label|trans({}, 'game') }}</h1>
                                        {{ picto.prototype.description|trans({}, 'game')}}</em>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="padded cell rw-12">
                    <h5>{{ 'Begrüße den Tod wie es sich gehört...'|trans({},'game') }}</h5>
                </div>
                <div class="padded cell rw-12">
                    <div class="note">
                        <b>{{ 'Der Tod in "MyHordes" ist nicht weiter schlimm!'|trans({},'game') }}</b>
                        {{ 'Du kannst in einer neuen Stadt wiedergeboren werden und das so oft wie du möchtest. Sei erfinderisch, probiere verschiedene Optionen aus und finde deinen eigenen Spielstil!'|trans({},'game') }}
                    </div>
                </div>
                <div class="rebirth padded rw-12 cell row">
                    {% if citizen.causeOfDeath.ref != constant('App\\Entity\\CauseOfDeath::Posion')  %}
                    <div class="cell rw-4 rebirth_label">
                        <label for="last_words">{{'Deine letzten Worte:'|trans({}, 'game')}}</label>
                    </div>
                    <div class="cell rw-8">
                        <input type="text" name="last_words" id="last_words" placeholder="{{ '' }}" />
                    </div>
                    {% endif %}
                    <div class="cell rw-12 rebirth_btn">
                        <button id="rebirth_btn">{{ 'Wiedergeboren werden'|trans({},'game') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        document.getElementById('rebirth_btn').addEventListener('click', function() {
            if (confirm('{{ 'Bist du sicher?'|trans({},'global') }}'))
                var lastWords = "";
                if(document.getElementById("last_words") !== null)
                    lastWords = document.getElementById("last_words").value;
                
                $.ajax.easySend( '{{ path('api_unsubscribe') }}', {lastwords: lastWords},
                    function () {
                        $.ajax.load(null, '{{ path('initial_landing') }}', true);
                    } );
        });
    </script>
{% endblock %}