{% extends "ajax/game/town/town.html.twig" %}
{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-home time-{{ hour }} {% if hour < 7 or hour > 18 %}night{% endif %}"></div>
    </div>

    {# @var home \App\Entity\CitizenHome #}
    {# @var chest \App\Entity\Inventory #}
    {# @var def \App\Structures\HomeDefenseSummary #}

    <ul class="tabs" x-tab-group="home-main" x-tab-control x-tab-default="{{ tab }}">
        <li x-tab-id="dash">{% trans from 'game' %}Truhe und Aktionen{% endtrans %}</li>
        <li x-tab-id="values">{% trans with {'%type%': home.prototype.label|trans({},'buildings')} from 'game' %}Mein(e) %type%{% endtrans %}</li>
        <li x-tab-id="build">{% trans from 'game' %}Bauarbeiten{% endtrans %}</li>
    </ul>

    <div x-tab-group="home-main" x-tab-id="dash" x-tab-target>

        <div class="dashboard">
            <div class="row">
                <div class="padded cell rw-4 rw-lg-6 center">
                    <em>{{ 'Verteidigung'|trans({}, 'game') }}</em><br />
                    <span class="counter">{{ def.sum }} <img src="{{ asset('build/images/small_def.gif') }}" alt="" /></span>
                </div>
                <div class="padded cell rw-4 rw-lg-6 center deco-estimation">
                    <em>{{ 'Dekoration'|trans({}, 'game') }}</em><br />
                    <span class="counter">{{ deco }} <img src="{{ asset('build/images/small_deco.gif') }}" alt="" /></span>
                </div>
                <div class="padded cell rw-4 rw-lg-12 left medium">
                    <input id="desc_edit" type="text" maxlength="64" placeholder="{{ 'Dein Beschreibungstext'|trans({},'game') }}" value="{{ home.description }}">
                    <div class="small right"><a id="desc_edit_button" href="">{{ 'Speichern'|trans({},'game') }}</a></div>
                </div>
            </div>
        </div>

        {% if complaints > 0 %}
            <div class="note note-warning">
                {{ 'Du hast %num% anonyme Anzeige(n).'|trans({'%num%': '<b>' ~ complaints ~ '</b>'}, 'game')|raw }}<br />
                {% trans from 'game' %}
                    Anzeigen können zu deiner Verbannung oder sogar Hinrichtung führen. Vielleicht solltest du das Verhältnis zwischen dir und dem Rest der Stadt verbessern ...
                {% endtrans %}
            </div>
        {% endif %}

        <div class="help">
            {% trans from 'game' %}
                In der linken Spalte werden alle Aktionen und Handlungen dargestellt, die du mit deinen Gegenständen ausführen kannst. In der rechten Spalte kannst du den Inhalt deines Rucksacks und deiner Truhe ansehen.
            {% endtrans %}
        </div>

        <div class="row">
            <div class="padded cell rw-6 rw-md-12">
                <h5>{% trans from 'game' %}Meine Spezialaktionen{% endtrans %}</h5>
                {% embed "ajax/game/actions.html.twig" with {'special_action_list': special_actions} %}
                {% endembed %}

                <h5>{% trans from 'game' %}Meine Aktionen{% endtrans %}</h5>
                {% embed "ajax/game/actions.html.twig" with {'heroic_action_list': heroics, 'item_action_list': actions, 'recipe_list': recipes} %}
                {% endembed %}
            </div>

            <div class="padded cell rw-6 rw-md-12">
                {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'items': rucksack.items} %}
                    {% block class %}rucksack{% endblock %}
                    {% block title %}{% trans from 'game' %}Rucksack{% endtrans %}{% endblock %}
                {% endembed %}

                <button id="drop-all-button" {% if rucksack.items|length == 0 %}disabled{% endif %}>{% trans from 'game' %}Rucksack ausleeren{% endtrans %}</button>

                {% embed "ajax/game/inventory.html.twig" with {'size': chest_size, 'items': chest.items} %}
                    {% block class %}chest{% endblock %}
                    {% block title %}{% trans from 'game' %}Truhe{% endtrans %}{% endblock %}
                {% endembed %}
            </div>
        </div>

        <div class="row">
            <h5>{{ 'Mein Register'|trans({},'game') }}</h5>
            <div class="cell rw-12">
                {% embed "ajax/game/log.html.twig" with {'log_content': log, 'log_source': path('town_house_log_controller') } %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div x-tab-group="home-main" x-tab-id="values" x-tab-target>

        <h5>{% trans from 'game' %}Verteidigung und Dekoration{% endtrans %}</h5>
        <div class="row">
            <div class="padded cell rw-6 rw-md-12">
                <ul class="summary">
                    <li>
                        {{ 'Verteidigung'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/def.gif') }}"> <b>{{ def.sum }}</b></span>
                        <ul>
                            <li>{{ 'durch Haus'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.house_defense }}</span></li>
                            {% if home.citizen.profession.heroic %}
                                <li>{{ 'durch Beruf'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.job_defense }}</span></li>
                                <li>{{ 'durch Ausbauten'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.upgrades_defense }}</span></li>
                            {% endif %}
                            <li>{{ 'durch Gegenstände'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.item_defense }}</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="padded cell rw-6 rw-md-12">
                <ul class="summary">
                    <li>
                        {{ 'Dekoration'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/deco.gif') }}"> <b>{{ deco }}</b></span>
                        <ul>
                            <li>{{ 'durch Gegenstände'|trans({},'game') }} <span><img alt="" src="{{ asset('build/images/deco.gif') }}"> {{ deco }}</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <h5>{% trans from 'game' %}Gegenstände{% endtrans %}</h5>
        <div class="row-table">
            {% for item in chest.items %}
                {# @var item \App\Entity\Item #}
                <div class="row">
                    <div class="padded cell rw-8 left">
                        <img alt="" src="{{ asset('build/images/item/item_' ~ item.prototype.icon ~ '.gif') }}" />
                        {{ item.prototype.label|trans({},'items') }}
                    </div>
                    <div class="padded cell rw-4 right">
                        {% if item.prototype.deco != 0 %}
                            <span><img alt="{{ 'Dekoration'|trans({},'game') }}" src="{{ asset('build/images/deco.gif') }}"> {{ item.prototype.deco }}</span>
                        {% endif %}
                        {% for prop in item.prototype.properties %}
                            {# @var prop \App\Entity\ItemProperty #}
                            {% if prop.name == 'defence' %}
                                <span><img alt="{{ 'Verteidigung'|trans({},'game') }}" src="{{ asset('build/images/def.gif') }}"> 1</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% set upgrade_count = 0 %}
        {% for id,upgrade in upgrades %}
            {% if upgrade_levels[id] > 0 %}
                {% set upgrade_count = upgrade_count+1 %}
            {% endif %}
        {% endfor %}

        {% if upgrade_count > 0 %}
            <h5>{% trans from 'game' %}Ausbauten{% endtrans %}</h5>
            {% if not home.citizen.profession.heroic %}
                <div class="help">
                    {% trans from 'game' %}
                        Ausbauten stehen nur Helden zur Verfügung. Solange du nur ein normaler Einwohner bist, sind deine
                        Ausbauten funktionslos.
                    {% endtrans %}
                </div>
            {% endif %}
            <div class="row-table">
                {% for id,upgrade in upgrades %}
                    {# @var upgrade \App\Entity\CitizenHomeUpgradePrototype #}
                    {% if upgrade_levels[id] > 0 %}
                        <div class="row">
                            <div class="padded cell rw-8 left">
                                <img alt="" src="{{ asset('build/images/home/' ~ upgrade.icon ~ '.gif') }}" /> {{ upgrade.label|trans({},'buildings') }}
                            </div>
                            <div class="padded cell rw-4 right">
                                <span class="small">{{ 'Stufe %level%'|trans({'%level%': upgrade_levels[id]},'game') }}</span>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}

    </div>

    <div x-tab-group="home-main" x-tab-id="build" x-tab-target>
        {# @var next_level \App\Entity\CitizenHomePrototype #}
        {% if next_level %}
            <h5>{% trans from 'game' %}Mein Haus ausbauen{% endtrans %}</h5>

            <div class="help">
                {% trans from 'game' %}
                    Du kannst die Widerstandsfähigkeit deines Hauses verbessern, indem du es ausbaust.
                {% endtrans %}
                <br /><br />
                {% if not home.prototype.allowSubUpgrades %}
                    {% trans from 'game' %}
                        Mit der ersten Verbesserungstufe bekommst du die Möglichkeit private Bauarbeiten durchführen zu können.
                    {% endtrans %}
                {% endif %}
            </div>
            {# @var next_level_req \App\Entity\BuildingPrototype #}
            <div class="row">
                <div class="padded cell rw-5 rw-md-12">
                    <button id="upgrade_home_level">
                        <img alt="" src="{{ asset('build/images/home.gif') }}" />
                        {% trans from 'game' %}Bauen{% endtrans %}: <b>{{ next_level.label|trans({}, 'buildings') }}</b>
                        {% if (next_level.ap > 0) %}(<div class="ap">{{ next_level.ap }}</div>){% endif %}
                    </button>
                </div>
                <div class="padded cell rw-7 rw-md-12">
                    <div class="note">
                        {% if next_level_req %}
                            {% trans from 'game' %}
                                Um dein Haus weiter auszubauen, muss die Stadt über folgendes Gebäude verfügen:
                            {% endtrans %}
                            <b>{{ next_level_req.label|trans({},'buildings') }}</b>
                        {% elseif next_level.resources %}
                            {% trans from 'game' %}
                                Für diesen Ausbau benötigst du folgende Gegenstände:
                            {% endtrans %}<br />
                            {% for res in next_level.resources.entries %}
                                <span class="entity">
                                    <img alt="{{ res.prototype.label|trans({},'items') }}" src="{{ asset('build/images/item/item_' ~ res.prototype.icon ~ '.gif' ) }}">
                                    x {{ res.chance }}
                                </span>
                            {% endfor %}
                        {% else %}
                            {% trans from 'game' %}
                                Für diesen Ausbau werden keine Gegenstände benötigt.
                            {% endtrans %}
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endif %}

        {% if home.prototype.allowSubUpgrades %}
            <h5>{% trans from 'game' %}Bauarbeiten{% endtrans %}</h5>

            {% if home.citizen.profession.heroic %}
                <div class="help">
                    {% trans from 'game' %}
                        Die folgenden Bauarbeiten kannst du an deinem Haus durchführen. Jede Verbesserung bringt dir besondere Vorteile.
                    {% endtrans %}
                </div>
            {% else %}
                <div class="help">
                    {% trans from 'game' %}
                        Du musst ein Held sein, um die folgenden Ausbauten vornehmen zu können.
                    {% endtrans %}
                </div>
            {% endif %}


            <div class="row-table">
                {% for id,upgrade in upgrades %}
                    {# @var upgrade \App\Entity\CitizenHomeUpgradePrototype #}
                    <div class="row">
                        <div class="padded cell {% if home.citizen.profession.heroic %}rw-8{% else %}rw-12{% endif %}">
                            <img alt="" src="{{ asset('build/images/home/' ~ upgrade.icon ~ '.gif') }}" /> <b>{{ upgrade.label|trans({},'buildings') }}</b>
                            <div class="justify">
                                <span class="small">{{ upgrade.description|trans({},'buildings') }}</span>
                            </div>
                        </div>
                        {% if home.citizen.profession.heroic %}
                            <div class="padded cell rw-4">
                                {% set costs = upgrade_costs[id] %}
                                {# @var costs \App\Entity\CitizenHomeUpgradeCosts #}
                                {% if costs %}
                                    <div class="center">
                                        <span class="small">{% trans from 'game' %}Erfordert{% endtrans %}:</span><br/>
                                        {% if costs.ap > 0 %}
                                            <div class="ap">{{ costs.ap }}</div>
                                        {% endif %}
                                        {% if costs.resources %}
                                            {% for res in costs.resources.entries %}
                                                {# @var res \App\Entity\ItemGroupEntry #}
                                                <img alt="{{ res.prototype.label|trans({},'items') }}" src="{{ asset('build/images/item/item_' ~ res.prototype.icon ~ '.gif') }}" />
                                            {% endfor %}
                                        {% endif %}
                                        <p><button x-upgrade-id="{{ id }}">
                                            {% if upgrade_levels[id] == 0 %}
                                                {% trans from 'game' %}Einbauen{% endtrans %}
                                            {% else %}
                                                {% trans with {'%level%': upgrade_levels[id]+1} from 'game' %}Upgrade auf St. %level%{% endtrans %}
                                            {% endif %}
                                        </button></p>
                                    </div>
                                {% else %}
                                    <div class="center"><span class="small">{% trans from 'game' %}Kein weiterer Ausbau möglich{% endtrans %}</span></div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/inventory.js.twig" %}{% endembed %};
        {% embed "scripts/actions.js.twig" %}{% endembed %};
        {% embed "scripts/log.js.twig" %}{% endembed %}

        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)[x-item-id]'),
            '{{ path('town_house_item_controller') }}',
            'down', '{{ path('town_house') }}'
        );

        handleItems(
            document.querySelectorAll('#drop-all-button'),
            '{{ path('town_house_item_controller') }}',
            'down-all', '{{ path('town_house') }}'
        );

        handleItems(
            document.querySelectorAll('.chest>.item:not(.locked)[x-item-id]'),
            '{{ path('town_house_item_controller') }}',
            'up', '{{ path('town_house') }}'
        );

        handleHeroicActions(
            document.querySelectorAll('ul.heroic_actions li[x-action-id]:not([disabled])'),
            '{{ path('town_house_heroic_controller') }}', '{{ path('town_house') }}'
        );

        handleSpecialActions(
            document.querySelectorAll('ul.special_actions li[x-action-id]:not([disabled])'),
            '{{ path('town_house_special_action_controller') }}', '{{ path('town_house') }}'
        );

        handleActions(
            document.querySelectorAll('ul.actions li[x-action-id][x-provoking-id]:not([disabled])'),
            '{{ path('town_house_action_controller') }}', '{{ path('town_house') }}'
        );

        handleActionPopups( document.querySelectorAll('ul.actions>li[x-target-definition]') );
        handleActionPopups( document.querySelectorAll('ul.heroic_actions>li[x-target-definition]') );
        handleActionPopups( document.querySelectorAll('ul.special_actions>li[x-target-definition]') );

        handleRecipes(
            document.querySelectorAll('ul.actions>li[x-recipe-id]:not([disabled])'),
            '{{ path('town_house_recipe_controller') }}', '{{ path('town_house') }}'
        );

        let upgrade_btn = document.getElementById( 'upgrade_home_level' );
        if (upgrade_btn) upgrade_btn.addEventListener('click', function() {
            $.ajax.easySend( '{{ path('town_house_upgrade_controller') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('town_house') }}', true);
                } );
        });

        {% if home.citizen.profession.heroic %}
            let upgrade_btns = document.querySelectorAll('button[x-upgrade-id]');
            for (let i = 0; i < upgrade_btns.length; i++)
                upgrade_btns[i].addEventListener('click', function() {
                    $.ajax.easySend( '{{ path('town_house_extend_controller') }}', {id: upgrade_btns[i].getAttribute('x-upgrade-id')},
                        function () {
                            $.ajax.load(null, '{{ path('town_house') }}', true);
                        } );
                });
        {% endif %}

        let desc_chg_button = document.getElementById('desc_edit_button');
        if (desc_chg_button) desc_chg_button.addEventListener('click', function(e) {
            e.preventDefault();
            $.ajax.easySend( '{{ path('town_house_describe_controller') }}', {desc: document.getElementById('desc_edit').value},
                function () {
                    $.ajax.load(null, '{{ path('town_house') }}', true);
                } );
        })
    </script>
{% endblock %}
