{# @var posts \App\Entity\Post[] #}

{% set today = date() %}
{% set yesterday = date('-1days') %}
{% block pagenav %}
    {% if pages > 1 %}
        <div class="row">
            <div class="cell rw-12 padded center">
                {% if current_page > 1 %}
                    <div class="forum-header-button" x-forum-action="post-pager" x-to-page="1"><i class="fa fa-fast-backward"></i></div>
                    <div class="forum-header-button" x-forum-action="post-pager" x-to-page="{{ current_page - 1 }}"><i class="fa fa-backward"></i></div>
                {% else %}
                    <div class="forum-header-button-disabled"><i class="fa fa-fast-backward"></i></div>
                    <div class="forum-header-button-disabled"><i class="fa fa-backward"></i></div>
                {% endif %}
                <div class="forum-header-button">{{ 'Seite %page%/%pages%'|trans({'%page%': current_page, '%pages%': pages},'global') }}</div>
                {% if current_page < pages %}
                    <div class="forum-header-button" x-forum-action="post-pager" x-to-page="{{ current_page + 1 }}"><i class="fa fa-forward"></i></div>
                    <div class="forum-header-button" x-forum-action="post-pager" x-to-page="{{ pages }}"><i class="fa fa-fast-forward"></i></div>
                {% else %}
                    <div class="forum-header-button-disabled"><i class="fa fa-forward"></i></div>
                    <div class="forum-header-button-disabled"><i class="fa fa-fast-forward"></i></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% if markedPost is defined %}
    {% set postMarker = markedPost %}
{% else %}
    {% set postMarker = 0 %}  
{% endif %}
<div class="forum-posts">
    {% for post in posts %}
        {% if not post.hidden or is_granted("ROLE_ADMIN") %}
            <div class="forum-post {% if not post.hidden %}{% else %}forum-post-hidden{% endif %}">
                {% if post.owner.username == 'Der Rabe' %}
                    <div class="forum-post-header-crow">
                {% elseif post.type == "DEV" %}
                    <div class="forum-post-header-dev">                        
                {% else %}
                    <div class="forum-post-header">
                {% endif %}
                    <i>
                        {% if post.date.format('Ymd') == today|date("Ymd") %}
                            {{ 'Heute um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                        {% elseif post.date.format('Ymd') == yesterday|date("Ymd") %}
                            {{ 'Gestern um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                        {% else %}
                            {{ post.date|format_datetime('medium', 'short') }}
                        {% endif %}
                    </i>
                    {% if (post.owner.avatar) %}
                        {% if app.user.preferSmallAvatars %}
                            {% if post.owner.username == 'Der Rabe' %}
                                <div class="avatarcrow small"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.id, 'name': post.owner.avatar.smallName, 'ext': post.owner.avatar.format}) }}"></div>
                            {% else %}
                                <div class="avatar small"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.id, 'name': post.owner.avatar.smallName, 'ext': post.owner.avatar.format}) }}"></div>
                            {% endif %}
                        {% else %}
                            {% if post.owner.username == 'Der Rabe' %}
                                <div class="avatarcrow"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.id, 'name': post.owner.avatar.filename, 'ext': post.owner.avatar.format}) }}"></div>
                            {% else %}
                                <div class="avatar"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.id, 'name': post.owner.avatar.filename, 'ext': post.owner.avatar.format}) }}"></div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="avatar small"><img alt="" src="{{ asset('build/images/empty_avatar.gif') }}"></div>
                    {% endif %}
                    <b>
                        {% if post.owner.username == 'Der Rabe' %}
                            {{ 'Der Rabe'|trans({},'global') }}
                        {% elseif post.type == "DEV" %}
                            {{ post.owner.username }}
                            <img src="{{ asset('build/images/small_admin.gif') }}" />
                        {% else %}
                            {{ post.owner.username }}
                        {% endif %}
                    </b>
                    {% if post.note is not null %}<div class="right post-note"><img src="{{ asset('build/images/professions/' ~ post.owner.getActiveCitizen.profession.icon ~ '.gif') }}" /> <span>{{ post.note }}</span></div>{% endif %}
                </div>
                {% if post.id == postMarker %}
                    <div class="forum-post-content-marked">
                        {{ post.text|raw }}
                    </div>
                {% else %}
                    <div class="forum-post-content">
                        {{ post.text|raw }}
                    </div>
                {% endif %}
                <div class="forum-post-footer right">
                    {% if not is_granted("ROLE_ADMIN") %}
                        <a class="action-button" id="report_post" x-forum-action="report-post" x-post-id={{ post.id }} x-to-page={{ current_page }}>{{ 'Melden'|trans({},'global') }}</a>
                    {% else %}
                        <label class="mod-submenu" for="mod-submenu-toggle-{{ post.id }}">
                            <input type="checkbox" name="mod-submenu-toggle-{{ post.id }}" id="mod-submenu-toggle-{{ post.id }}" />
                            <ul class="mod-submenu-links">
                                {% if not post.hidden %}
                                    <li><a class="action-button" id="delete_post" x-forum-action="delete-post" x-post-id={{ post.id }} x-to-page={{ current_page }}>{{ 'Löschen'|trans({},'global') }}</a></li>
                                {% endif %}
                            </ul>
                        </label>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
    <div class="row">
        <div class="cell padded rw-6 left">
        {% if is_granted("ROLE_ADMIN")%}
            {% if not locked %}
                <div x-forum-moderator-action="lock" class="forum-button"><img src="{{ asset('build/images/lock.gif') }}" /><span>{{ 'Schließen'|trans({},'global') }}</span></div>
            {% endif %}
            {% if locked %}
                <div x-forum-moderator-action="unlock" class="forum-button"><img src="{{ asset('build/images/mod.png') }}" /><span>{{ 'Öffnen'|trans({},'global') }}</span></div>
            {% endif %}
            {% if not pinned %}
                <div x-forum-moderator-action="pin" class="forum-button"><img src="{{ asset('build/images/mod.png') }}" /><span>{{ 'Anpinnen'|trans({},'global') }}</span></div>
            {% else %}
                <div x-forum-moderator-action="unpin" class="forum-button"><img src="{{ asset('build/images/mod.png') }}" /><span>{{ 'Loslösen'|trans({},'global') }}</span></div>
            {% endif %}
        {% endif %}
        </div>
        <div class="cell padded rw-6 right">
        {% if not locked and not is_granted("ROLE_BANNED") %}            
            <div x-forum-action="answer" class="forum-button"><span>{{ 'Antworten'|trans({},'global') }}</span></div>
        {% else %}
            <div class="forum-button-disabled"><img src="{{ asset('build/images/lock.gif') }}" /><span>{{ 'Antworten'|trans({},'global') }}</span></div>
        {% endif %}
        </div>
    </div>
{{ block('pagenav') }}
<script>
    let report_buttons = document.querySelectorAll('[x-forum-action="report-post"');
    for (let i = 0; i < report_buttons.length; i++)
        report_buttons[i].addEventListener('click', function() {
            $.ajax.easySend( '{{ url('forum_report_post_controller', { 'fid': fid, 'tid': tid}) }}', {postId: parseInt( this.getAttribute('x-post-id')), page: parseInt( this.getAttribute('x-to-page')) },
                function (data) {
                    $.ajax.load(null, data.url, true);
                } )
            })
    {% if is_granted("ROLE_ADMIN")%}
        let del_buttons = document.querySelectorAll('[x-forum-action="delete-post"');
        for (let i = 0; i < del_buttons.length; i++)
            del_buttons[i].addEventListener('click', function() {
                let reason = prompt('{{ 'Grund'|trans({},'admin') }}', '');
                if (!(reason == null))
                    $.ajax.easySend( '{{ url('forum_delete_post_controller', { 'fid': fid, 'tid': tid}) }}', {reason: reason, postId: parseInt( this.getAttribute('x-post-id')), page: parseInt( this.getAttribute('x-to-page')) },
                        function (data) {
                            $.ajax.load(null, data.url, true);
                        } )
                })
        {% if not locked %}
            let lock_button = document.querySelector('[x-forum-moderator-action=lock]');
            lock_button.addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ url('forum_thread_lock_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% else %}
            let unlock_button = document.querySelector('[x-forum-moderator-action=unlock]');
            unlock_button.addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ url('forum_thread_unlock_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% endif %}

        {% if not pinned %}
            let pin_button = document.querySelector('[x-forum-moderator-action=pin]');
            pin_button.addEventListener('click', function() {
                
                $.ajax.no_history().load( null, '{{ url('forum_thread_pin_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% else %}
            let unpin_button = document.querySelector('[x-forum-moderator-action=unpin]');
            unpin_button.addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ url('forum_thread_unpin_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% endif %}
    {% endif %}
    
    let new_post_btns = document.querySelectorAll('[x-forum-action=answer]');
    for (let i = 0; i < new_post_btns.length; i++)
        new_post_btns[i].addEventListener('click', function() {
            new_post_btns[i].parentNode.removeChild(new_post_btns[i]);
            $.ajax.no_history().load( document.getElementById('forum-editor'), '{{ url('forum_post_editor_controller', {fid: fid, tid: tid}) }}', false )
        })
    let nav_buttons =  document.querySelectorAll('[x-forum-action="post-pager"][x-to-page]');
    for (let i = 0; i < nav_buttons.length; i++)
        nav_buttons[i].addEventListener('click', function() {
            let editor = document.getElementById('forum-editor');
            {% if editor is defined %}
                {let c; while ((c = editor.firstChild)) editor.removeChild(c);}
            {% endif %}
            $.ajax.no_history().load( document.getElementById('forum-content'), '{{ path('forum_viewer_controller', {fid: fid, tid: tid}) }}', false, {page: parseInt( this.getAttribute('x-to-page') )} );
            window.scrollTo(window.top);
        })
    {% if pages == current_page %}
        let thread_listings = document.querySelectorAll('[x-thread-id="{{ tid }}"]');
        for (let i = 0; i < thread_listings.length; i++)
            thread_listings[i].classList.remove('forum-thread-unread');
    {% endif %}
</script>